/* Dark Mode */
  body {
    background-color: #2e3a42; 
  }
  h1, h2, h3, h4, h5, h6, p {
    color: #FFF;
  } 
  a::after:hover, 
  div.post-titles:hover h3::after,
  div.post-titles:hover p::after {
    background-color: #FFF;
  }
  div::before, div::after {
    background-color: #FFF;
  }
  .swapTog {
    background-color: #D9D9D9; 
  }
  .swapTog::after {
    background-color: #000;
    left: 19.5px;
  }
