/* Light Mode */
  body {
    background-color: #f5fbff;
  }
  h1, h2, h3, h4, h5, h6, p {
    color: #000;
  } 
  a::after:hover, 
  div.post-titles:hover h3::after,
  div.post-titles:hover p::after {
    background-color: #000;
  }
  div::before, div::after {
    background-color: #000;
  }
  .swapTog {
    background-color: #000; 
  }
  .swapTog::after {
    background-color: #D9D9D9;
    left: 3px;
  }
